body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }

}

main {
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}

@media (min-width: 1400px) {
  .container{
    max-width: 1320px;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  &:hover {
    text-decoration: none;
    opacity: .7;
  }
}
