@import "fonts";
@import "reset";

.main-menu {
  display: none;
  background: linear-gradient(90deg, #004487 -5%, #006EBE 69.3%);
  color: #fff;
  min-height: 100vh;
  padding: 100px 15px 30px;
  align-items: center;
  z-index: 10;
  position: fixed;
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    left: 47px;
    right: 128px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1538px;
    margin: 0 auto;

    a[href='#'] {
      pointer-events: none;
      opacity: .4;
    }
  }

  &__item {
    margin-right: 40px;

    .title {
      font-weight: bold;
      font-size: 23px;
      line-height: 21px;
      margin-bottom: 20px;
    }

    ul {
      margin-left: 20px;

      li {
        max-width: 300px;
        margin-bottom: 10px;

        a {
          font-family: Roboto, sans-serif;
          font-size: 17px;
          line-height: 1.3;
          color: #fff;
          display: inline-block;
          transition: .2s ease;

          &:hover {
            opacity: .7;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.close-main-menu {
  font-size: 14px;
  line-height: 37px;
  color: #fff;
  transition: .2s ease;

  img {
    margin-right: 12px;
  }

  &:hover {
    opacity: .7;
    color: #fff;
    text-decoration: none;
  }
}

.right-side-menu {
  display: flex;
  align-items: center;
}

.location {
  color: #78C6FF;
  //margin-left: 70px;

  &__lang {
    color: #fff;
    transition: .2s ease;

    &.active {
      color: #78C6FF;
    }

    &:hover {
      opacity: .7;
      text-decoration: none;
      color: #78C6FF;
    }
  }
}

.btn {
  transition: .2s ease;

  &:hover {
    opacity: .7;
  }
}

.search {
  input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
    width: 0;
    padding: 0;
    //transition: .1s ease;

    &.visible {
      width: 60%;
      padding: 4px;
    }
  }

  &.active {
    position: absolute;
    //background: red;
    left: 283px;
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {

    &:hover {
      opacity: .7;
      transition: .2s ease;
    }

    &_white {
      display: none;
    }

  }

  &__menu {
    display: flex;
    align-items: center;

    li {
      padding: 54px 0;
      position: relative;

      &:not(:last-child) {
        margin-right: 65px;
      }

      &.active {
        font-weight: bold;

        &:after {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 0;
          right: 0;
          height: 6px;
          background-color: #F23133;
        }

      }

      a {
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #115E96;

        &:hover {
          opacity: .7;
          text-decoration: none;
        }
      }

    }

  }

  .search input {
    border-bottom: 1px solid #115E96;
    color: #115E96;
  }

  .location {
    &__lang {
      color: #ccc;
      font-size: 22px;
      line-height: 27px;
      margin: 0 5px;

      &.active {
        color: #115E96;
      }

      &:hover {
        color: #115E96;
      }
    }
  }

  &.gradient-bg {
    //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    padding-bottom: 25px;

    .search input {
      border-bottom: 1px solid #fff;
      color: #fff;
    }

    .location {
      font-size: 22px;
      line-height: 27px;
      color: #FFFFFF;

      &__lang {
        margin: 0;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;

        &.active {
          opacity: .7;
        }

      }
    }

    .header__logo {
      width: 283px;

      &_color {
        display: none;
      }

      &_white {
        display: block;
      }
    }

    .header__menu {

      li {
        padding: 54px 0 10px;

        &.active {

          &:after {
            height: 3px;
            background: linear-gradient(90deg, #1366AD 0.03%, #DA1F26 100%);
          }

        }

        a {
          font-weight: normal;
          color: #FFFFFF;
        }

      }

    }

  }

  &.pos-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 136px;

    .header__menu li {
      padding: 10px 0;
    }

  }

}

.main-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 336px;

  &.page-detail {
    min-height: 380px;
  }

  .h1-title {
    max-width: 700px;
  }
}

.h1-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0;
}

.banner-menu-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.42);
}

.banner-menu {
  display: flex;
  align-items: center;
  position: relative;

  &:not(.filter-wrapper) {
    justify-content: flex-end;
  }

  .title {
    font-size: 23px;
    line-height: 55px;
    color: #FFFFFF;
    padding: 17px 0;
    margin-right: 40px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {

      &:not(:last-child) {
        margin-right: 40px;
      }

      &.active {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 0;
          right: 0;
          height: 6px;
          background-color: #F23133;
          z-index: 2;
        }

      }

      a {
        font-weight: normal;
        font-size: 23px;
        line-height: 55px;
        color: #FFFFFF;
        padding: 17px 0;
        display: inline-block;

        &:hover {
          opacity: .7;
          text-decoration: none;
        }

      }

    }

  }

}

.service-item {
  padding-bottom: 70px;

  &.line-wrapper__item {

    .counter {
      top: 8px;
    }

    &_left {
      &:after {
        top: 293px;
        right: -140px;
        height: 96%;
      }

      &:last-child:after {
        bottom: calc(100% - 290px);
      }
    }

    &_right {
      &:after {
        top: 290px;
        left: -111px;
        height: 100%;
      }

      &:last-child:after {
        left: -111px;
        bottom: calc(100% - 290px);
      }
    }

  }

  &__photo {
    position: relative;
    height: 240px;
    overflow: hidden;
    margin-bottom: 34px;
    background-color: #000;

    img {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
    }
  }

  &__title {
    font-weight: bold;
    font-size: 27px;
    line-height: 35px;
    color: #045DA0;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
    padding-right: 30px;
    background-color: #fff;

    &:hover {
      opacity: .7;
      transition: .2s ease;
      text-decoration: none;
    }
  }

  &__short-text {
    font-size: 14px;
    line-height: 21px;
    color: #045DA0;
    margin-bottom: 25px;
  }
}

.link-with-arrow {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #0078B5;
  transition: .2s ease;

  &:hover {
    opacity: .7;
  }
}

.custom-number-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  counter-reset: my-counter;

  li {
    counter-increment: my-counter;
    padding-left: 45px;
    padding-right: 100px;
    position: relative;
    margin-bottom: 68px;

    &:before {
      content: counter(my-counter) ". ";
      font-family: Roboto, sans-serif;
      font-weight: normal;
      font-size: 26px;
      line-height: 18px;
      color: #008FE8;
      position: absolute;
      top: 282px;
      left: 0;
    }

    &:nth-child(-n+9):before {
      content: '0' counter(my-counter) ". ";
    }

  }

}

.footer {
  background-color: #0069AA;
  padding: 75px 0 80px;

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;

      &:hover {
        opacity: .7;
        text-decoration: none;
      }
    }
  }

  &__logo {
    margin-bottom: 120px;
  }

  &__info {
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 50px;
    max-width: 380px;
  }

  &__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    &:hover {
      color: #fff;
    }
  }

}

.contact-list {
  .title {
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    color: #F8FFF2;
    margin-bottom: 15px;
  }

  a {
    font-size: 18px;
    color: #FCFCFC;
    margin-bottom: 10px;
    display: inline-block;

    &:hover {
      opacity: .7;
      text-decoration: none;
    }

    img {
      margin-right: 20px;
    }

  }

}

.social-list {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a:hover {
      opacity: .7;
      transition: .2s ease-in;
    }

  }
}

.copyright {
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;
  max-width: 400px;
  margin: 33px 0 50px;
}

.section.content {
  padding-top: 78px;
}

.with-column {
  position: relative;
  background-color: #f6f6f6;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc((100% - 1320px) / 2 + 420px);
    background-color: #fff;
    height: 100%;
  }
}

.partners {

  &__item {
    padding: 30px 35px;
    background-color: #fff;
    margin-bottom: 34px;
    display: flex;
    align-items: flex-start;
  }

  &__logo {
    flex: 0 0 290px;
    max-width: 290px;
    margin-right: 50px;
  }

  &__link {
    font-weight: 500;
    font-size: 21px;
    line-height: 23px;
    color: #F23133;
    display: inline-block;

    &:hover {
      opacity: .7;
      text-decoration: none;
    }
  }

  &__info {

    .title {
      font-weight: bold;
      font-size: 26px;
      line-height: 29px;
      color: #045DA0;
      margin-bottom: 24px;
    }

    .description {
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      color: #045DA0;
      margin-bottom: 15px;
    }

  }

}

.sidebar {
  max-width: 400px;

  li {
    margin-bottom: 30px;

    &.active a {
      color: #F23133;
    }

    a {
      font-weight: normal;
      font-size: 19px;
      line-height: 25px;
      color: #045DA0;
      display: inline-block;

      &:hover {
        opacity: .7;
        transition: .2s ease;
        text-decoration: none;
      }
    }

  }

}

.documents-slider {
  margin-bottom: 60px;
  padding: 0 30px;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;

    img {
      max-width: 100%;
    }

  }

}

.sl-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #DEDEDE;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.sl-prev {
  left: 0;
}

.sl-next {
  right: 0;

  img {
    transform: rotate(180deg);
  }

}


.scheme {

  &__item {
    padding: 15px;
    background-color: #fff;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__photo {
    position: relative;
    height: 265px;
    overflow: hidden;
    background-color: #000;
    flex: 0 0 50%;
    max-width: 50%;

    img {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
    }
  }

  &__info {
    max-width: 350px;

    .title {
      font-weight: bold;
      font-size: 27px;
      line-height: 35px;
      text-transform: uppercase;
      color: #045DA0;
      margin-bottom: 15px;
    }

    .description {
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #7A8284;
      margin-bottom: 15px;
    }

  }
}

.btn-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  position: relative;

  &__icon {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: inline-flex;
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    color: #FFFFFF;
    writing-mode: vertical-rl;
    transform: translate(-50%, 0) rotate(0.5turn);
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
  }

}

.years-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  .news-year-item {
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    color: #CACECF;
    transition: .2s ease;
    text-decoration: none;

    &.active {
      font-size: 30px;
      color: #045DA0;
    }

    &:not(.active):hover {
      transform: scale(1.1);
      color: #045DA0;
    }

  }

}

.news-item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #045DA0;
    display: inline-block;
    margin-bottom: 15px;
  }

  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #7A8284;
  }

}

.post-item {

  &__preview {
    img {
      max-width: 100%;
    }

    & + .post-badge {
      font-size: 16px;
      margin-top: 24px;
    }
  }

  .link-with-arrow {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;

    img {
      transform: rotate(180deg);
      margin-right: 10px;
    }

  }

  &__content {
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #7A8284;

    h2 {
      font-size: 27px;
      text-transform: uppercase;
      margin: 63px 0 28px;
      font-weight: bold;
      line-height: 1.2;
      color: #045DA0;
    }

    h3 {
      font-size: 16px;
      line-height: 19px;
      color: #045DA0;
      margin-bottom: 20px;

      b {
        font-weight: bold;
      }
    }

    & > div:not(:last-child) {
      margin-bottom: 50px;
    }

    li {
      margin-bottom: 6px;
    }

    ol {
      margin: 0;
      padding-left: 15px;
    }

    a {
      font-size: 14px;
      display: inline-flex;
      align-items: center;
      margin-right: 20px;
    }

  }

}

.total-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;

  &__preview {
    position: relative;
    overflow: hidden;
    width: 177px;
    height: 105px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;

    &:hover {
      .icon {
        transform: scale(1.1);
      }
    }

    .image {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
    }

    .icon {
      position: relative;
      transition: .2s ease;
    }

  }

  &__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #7A8284;

    span {
      color: #045DA0;
    }

  }

}

.video-banner {
  height: 100vh;
  min-height: 390px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  color: #fff;
  position: relative;

  .btn-scroll-to-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 2;
    cursor: pointer;
    transform: translateX(-50%);

    .wrapper {
      height: 65px;
      width: 65px;
      background: rgba(255, 255, 255, 0.21);
      border-radius: 50%;
      position: relative;

      .mouse {
        height: 34px;
        width: 26px;
        position: absolute;
        left: 19px;
        top: 12px;
      }

      .arrow {
        height: 10px;
        position: absolute;
        left: 26.3px;
        bottom: 3px;

        animation: arrow 1s infinite alternate;
      }

      @keyframes arrow {
        from {
          bottom: 2px;
        }

        to {
          bottom: 7px;
        }
      }
    }
  }

  .progress-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    z-index: 10;
    transition: none;
    width: 0;

    background: #1165AE;
    box-shadow: -50% 0 100px -120px crimson inset;
    animation: progress-bar 3s infinite alternate;
  }

  @keyframes progress-bar {
    50% {
      background: crimson;
      box-shadow: -50% 0 100px -100px #1165AE inset;
    }
  }

  .swiper-pagination {
    bottom: 50%;
    writing-mode: vertical-lr;
    transform: translateY(50%) translate(0, 0) rotate(0.5turn);

    span {
      opacity: 1;
      position: relative;
      color: #FFF;
      background: #FFF;
      background-clip: padding-box;
      border: solid 1px transparent;
      border-radius: 50%;
      margin: 10px 0 10px 30px !important;

      &.swiper-pagination-bullet-active:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -2px;
        border-radius: inherit;
        background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
        animation: Gradient 1s ease infinite alternate;
      }

      @keyframes Gradient {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .main-slider {
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .substrate-header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      height: 136px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .substrate-video {
      background: #004487;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      opacity: 0.2;
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      //height: 100%;
      width: 100%;
    }

    .slider-info {
      width: 100%;
      padding: 40px 15px 30px;
      z-index: 1;

      &.substrate {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
      }

      .slider-info__text {
        color: #fff;
      }

      &__title {
        font-weight: bold;
        font-size: 38px;
        line-height: 18px;
        margin-bottom: 20px;
      }

      &__text {
        max-width: 560px;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 50px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 3;
      }
    }
  }
}

.section {
  padding: 93px 0 150px;

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 97px;
  }
}

.news-overview {
  background-color: #E5E5E5;
}

.services-item {
  margin-bottom: 22px;

  &__image {
    position: relative;
    height: 297px;
    width: 540px;
    overflow: hidden;
    margin-bottom: 47px;

    img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
    }

  }

  &__title {
    font-weight: bold;
    font-size: 27px;
    line-height: 35px;
    text-transform: uppercase;
    color: #045DA0;
    margin-bottom: 16px;
  }

  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #959595;
    margin-bottom: 15px;
  }

}

.services-slider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  counter-reset: my-counter;

  li {
    margin-bottom: 20px;
    counter-increment: my-counter;
    padding-left: 47px;
    position: relative;

    &.active a:before {
      background: linear-gradient(90deg, #1366AD 0.03%, #DA1F26 100%);
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
    }

    &:before {
      content: counter(my-counter);
      font-family: Roboto, sans-serif;
      line-height: 18px;
      position: absolute;
      top: 7px;
      left: 0;
      font-weight: bold;
      font-size: 21px;
      color: #045DA0;
      text-align: center;
      width: 26px;
    }

    a {
      font-weight: 500;
      font-size: 21px;
      line-height: 32px;
      color: #045DA0;
      position: relative;
    }

  }

}

.h2-title {
  font-weight: bold;
  font-size: 38px;
  line-height: 1.2;
  color: #045DA0;
  margin-bottom: 50px;

  &.dash {
    position: relative;
    font-size: 26px;
    line-height: 1.4;

    &:before {
      content: '';
      position: absolute;
      bottom: 14px;
      right: -100px;
      width: 80px;
      height: 1px;
      background-color: #008FE8;
    }
  }

}

.slider-btn-wrapper {

  .slider-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #045DA0;
    padding: 0;

    &__image {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #dedede;

      img {
        width: 20px;
        height: 14px;
      }

    }

    &__prev {
      margin-right: 20px;

      .slider-btn__image {
        margin-right: 9px;
      }
    }

    &__next {
      .slider-btn__image {
        margin-left: 9px;
      }
    }

  }
}

.feedback {
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 123px 0;

  &__text {
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    color: #0069AA;
  }

  .btn {
    margin-left: 36px;
  }

}

.btn-gradient-bg {
  background: linear-gradient(90deg, #1366AD 0.03%, #DA1F26 100%);
  font-weight: bold;
  font-size: 22px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 60px;
  height: 75px;
  white-space: nowrap;
  border-radius: 0;
  border: 0;

  &:hover {
    color: #fff;
  }
}

.footer-menu-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #F8FFF2;
}

.footer-menu {
  &__item a {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    color: #FCFCFC;

    img {
      margin-right: 15px;
    }
  }
}

.team-page {
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    color: #045DA0;
    margin-bottom: 35px;
  }

  .leaders {
    margin-top: 90px;
  }

  .member {
    margin-bottom: 60px;

    .img-wrapper {
      height: 318px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 32px;
      color: #045DA0;
      margin-top: 25px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      color: #045DA0;
      margin-top: 13px;
    }
  }
}

.under-title-text {
  max-width: 684px;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  color: #045DA0;
}

.subscription-wrapper .h3-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #0078B5;
  margin-bottom: 15px;
}

.subscription {
  display: flex;
  align-items: center;

  &__input {
    border: 0;
    outline: none;
    box-shadow: none;
    height: 39px;
    font-size: 17px;
    padding: 0 22px;
    width: 257px;

    &::placeholder {
      color: #99A4AB;
    }

  }

  .btn-gradient-bg {
    font-weight: normal;
    font-size: 17px;
    line-height: 39px;
    height: 39px;
    padding: 0 21px;
  }

}

//.news-page {
//  padding-top: 0 !important;
//
//  .news-list {
//    padding-top: 45px;
//    padding-right: 45px;
//
//    .years {
//      //display: flex;
//      //flex-direction: column;
//      //align-items: center;
//      //justify-content: center;
//      li {
//        text-align: center;
//      }
//
//      a {
//        font-style: normal;
//        font-weight: bold;
//        font-size: 20px;
//        line-height: 35px;
//        text-transform: uppercase;
//        color: #CACECF;
//        text-align: center;
//      }
//
//      .active a {
//        font-size: 30px;
//        color: #045DA0;
//      }
//    }
//
//    .news {
//      .news-item {
//        margin-bottom: 40px;
//
//        h3 {
//          font-style: normal;
//          font-weight: bold;
//          font-size: 18px;
//          line-height: 22px;
//          color: #115E96;
//        }
//
//        p {
//          font-style: normal;
//          font-weight: normal;
//          font-size: 16px;
//          line-height: 21px;
//          color: #959595;
//        }
//
//        span {
//          font-style: normal;
//          font-weight: normal;
//          font-size: 16px;
//          line-height: 22px;
//          color: #F23133;
//          display: inline-block;
//          margin-top: 15px;
//        }
//      }
//    }
//  }
//
//  .news-greed, .news-detail {
//    padding-top: 45px;
//    padding-left: 100px;
//    background-color: #F8F9FA;
//  }
//
//  .main-banner {
//    width: 873px;
//    display: flex;
//    align-items: flex-start;
//    justify-content: space-between;
//
//    .main-image {
//      width: 70%;
//
//      img {
//        width: 100%;
//      }
//
//      span {
//        font-style: normal;
//        font-weight: normal;
//        font-size: 16px;
//        line-height: 22px;
//        color: #F23133;
//        margin-top: 24px;
//        display: inline-block;
//      }
//    }
//
//    .more-image {
//      width: 30%;
//      padding-left: 54px;
//
//      div {
//        margin-bottom: 52px;
//
//        img {
//          width: 100%;
//          margin-bottom: 10px
//        }
//
//        p {
//          font-style: normal;
//          font-weight: bold;
//          font-size: 14px;
//          line-height: 21px;
//          color: #A0A0A0;
//        }
//
//        span {
//          color: #045DA0;
//        }
//      }
//    }
//  }
//
//  .content {
//    margin-bottom: 40px;
//    font-style: normal;
//    font-weight: normal;
//    font-size: 14px;
//    line-height: 21px;
//    color: #7A8284;
//    max-width: 780px;
//
//
//    h1 {
//      font-style: normal;
//      font-weight: bold;
//      font-size: 27px;
//      line-height: 35px;
//      text-transform: uppercase;
//      color: #045DA0;
//      margin-bottom: 31px;
//      margin-top: 41px;
//    }
//
//    h2 {
//      font-style: normal;
//      font-weight: normal;
//      font-size: 18px;
//      line-height: 21px;
//      color: #115E96;
//      margin-bottom: 25px;
//    }
//
//    h3 {
//      font-style: normal;
//      font-weight: bold;
//      font-size: 18px;
//      line-height: 22px;
//      color: #115E96;
//    }
//
//    p, ul, ol {
//      margin-bottom: 20px;
//    }
//
//    ol, ul {
//      padding-left: 15px;
//    }
//
//    ul {
//      li {
//        list-style-type: disc;
//      }
//    }
//  }
//
//  .back_to_news {
//    font-style: normal;
//    font-weight: normal;
//    font-size: 14px;
//    line-height: 27px;
//    color: #0078B5;
//
//    img {
//      width: 11px;
//    }
//  }
//}

.news-banner {
  background-color: #0078B5;
  display: flex;
  margin-bottom: 44px;

  &__image {
    flex: 0 0 404px;
    max-width: 404px;
    height: 325px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }

  }

  &__info {
    padding: 37px 40px;
    color: #fff;

    .date {
      font-weight: normal;
      font-size: 17px;
      line-height: 27px;
      color: rgba(255, 255, 255, 0.58);
      margin-bottom: 32px;
    }

    .title {
      font-weight: normal;
      font-size: 26px;
      line-height: 29px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .description {
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
    }

  }

}

.announcement-news {
  background-color: #fff;
  padding: 40px 42px;
  margin-bottom: 44px;

  .title {
    font-weight: bold;
    font-size: 21px;
    line-height: 27px;
    text-transform: uppercase;
    color: #115E96;
    margin-bottom: 40px;
  }

  li {
    border-bottom: 1px solid rgba(33, 48, 67, 0.19);
    margin-bottom: 15px;
    padding-bottom: 10px;
  }

  .date {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #003D5C;
  }

  a {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.5);
  }
}

.social-banner {
  background-color: #0078B5;
  margin-bottom: 44px;
  color: #fff;
  padding: 60px 15px;

  .title {
    font-weight: normal;
    font-size: 19px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
  }

  li {
    border-bottom: 1px solid #FFFFFF;
  }

  a {
    padding: 13px;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
    position: relative;

    .icon {
      position: absolute;
      top: 50%;
      left: 13px;
      transform: translateY(-50%);
      width: 30px;
      text-align: center;
    }

  }

}

.news-card {
  background-color: #fff;
  margin-bottom: 44px;

  &__image {
    height: 210px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
    }

  }

  &__type {
    width: 100%;
    position: relative;
    background-color: #0078B5;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0 20px;

    .type {
      font-weight: normal;
      font-size: 17px;
      line-height: 27px;
      color: #FFFFFF;
    }

    .date {
      font-weight: normal;
      font-size: 17px;
      line-height: 27px;
      color: rgba(255, 255, 255, 0.58);
    }

  }

  &__body {
    padding: 40px;
  }

  &__title {
    font-weight: bold;
    font-size: 21px;
    line-height: 27px;
    text-transform: uppercase;
    color: #115E96;
    margin-bottom: 15px;
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #959595;
    margin-bottom: 15px;
  }

}

.loading-page {
  overflow-y: visible;

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background: #ffffff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 70%;
      max-width: 520px;
    }

    .loader-line {
      margin-top: 100px;
      height: 3px;
      width: 100%;
      background: #1165AE;
      box-shadow: 0 -200px 100px -120px crimson inset;
      animation: background 3s infinite alternate;
    }

    @keyframes background {
      50% {
        background: #1165AE;
        box-shadow: 0 -200px 100px -100px yellowgreen inset;
      }
    }
  }
}

.section.preface-section {
  padding: 126px 0;
}

.preface {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #045DA0;
}

.section-mission {
  background-image: url("../images/about/mission.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;

  .h2-title {
    font-weight: bold;
    font-size: 26px;
    line-height: 27px;
    color: #FFFFFF;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: -100px;
      transform: translateY(-50%);
      width: 80px;
      height: 1px;
      background-color: #fff;
    }

  }

  .quote {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    max-width: 730px;
    margin-bottom: 150px;
    position: relative;

    &__start {
      position: absolute;
      transform: rotate(180deg);
      top: -50px;
      left: 0;
    }

    &__end {
      position: absolute;
      bottom: -50px;
      left: 0;
    }

    p {
      margin-bottom: 30px;
    }

  }

  .author {
    font-style: italic;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    max-width: 480px;
  }

}

.section-worth {
  padding: 147px 0 90px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-150 {
  margin-top: 150px;
}

.worth-list {

  .h3-title {
    font-weight: bold;
    font-size: 38px;
    line-height: 1.2;
    color: #045DA0;
    margin-bottom: 20px;
    position: relative;
  }

  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #888787;
  }

  &__item {
    position: relative;
    margin-bottom: 70px;
  }

}

.line-wrapper__item {
  position: relative;
  padding-left: 50px;

  .counter {
    font-weight: normal;
    font-size: 26px;
    line-height: 18px;
    color: #008FE8;
    position: absolute;
    top: 16px;
    left: -46px;
  }

  &_left {

    .h3-title {
      display: inline-block;
      background-color: #fff;
      padding-right: 30px;
    }

    &:after {
      position: absolute;
      top: 23px;
      right: -80px;
      content: '';
      width: 100%;
      height: 100%;
      border: 1px solid #008FE8;
      border-radius: 0 25px 0 0;
      border-left-color: transparent;
      border-bottom-color: transparent;
      z-index: -1;
    }

    &:last-child:after {
      content: '';
      top: auto;
      bottom: calc(100% - 23px);
      border-radius: 0 0 25px 0;
      border: 1px solid #008FE8;
      border-top-color: transparent;
      border-left-color: transparent;
    }

  }

  &_right {

    &:after {
      position: absolute;
      top: 23px;
      left: -116px;
      content: '';
      width: 86px;
      height: 100%;
      border: 1px solid #008FE8;
      border-radius: 25px 0 0 0;
      border-right-color: transparent;
      border-bottom-color: transparent;
      z-index: -1;
    }

    &:last-child:after {
      position: absolute;
      top: auto;
      bottom: calc(100% - 23px);
      left: -116px;
      content: '';
      width: 86px;
      height: 100%;
      border: 1px solid #008FE8;
      border-radius: 0 0 0 25px;
      border-right-color: transparent;
      border-top-color: transparent;
      z-index: -1;
    }

  }

}

.advantage {
  .h3-title {
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
    color: #045DA0;
    margin-bottom: 30px;
  }

  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #045DA0;
    max-width: 650px;
    margin: 0 auto 35px;
  }

  &__added {
    font-weight: normal;
    font-size: 28px;
    line-height: 29px;
    color: #888787;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);

    .icon {
      width: 20px;
      height: 14px;
      margin-left: 15px;
    }

  }

  &__dots {
    position: relative;
    height: 41px;

    .progress-bg, .line-bg {
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #D0D0D0;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    .progress-bg {
      background-color: #045DA0;
      width: 50%;
    }

    .arrow-left, .arrow-right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 41px;
      height: 41px;
      display: inline-block;
      background-image: url(../images/svg/arrow-right-white.svg);
      background-color: #045DA0;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      background-size: 50%;
      cursor: pointer;
      transition: .2s ease;

      &:hover {
        background-color: #35569a;
      }
    }

    .arrow-left {
      transform: translateY(-50%) rotate(180deg);
      left: 0;
    }

    .arrow-right {
      right: 0;
    }

  }
}

.section-advantages {
  padding-bottom: 150px;

  .h2-title {
    margin-bottom: 0;
  }

}

.dot-list {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 488px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #D0D0D0;
    z-index: 1;

    &.active {
      background-color: #045DA0;
    }

  }
}

.video-wrapper {
  position: relative;
  max-height: 490px;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }

  iframe {
    display: none;
  }
}

.play-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 0;
  cursor: pointer;

  img {
    transition: .2s ease;
  }

  &:hover img {
    transform: scale(1.1);
  }

  &:focus {
    outline: 0;
  }
}

.page-vertical-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: bold;
  font-size: 57px;
  line-height: 1;
  text-transform: uppercase;
  color: rgba(184, 184, 184, 0.33);
  writing-mode: vertical-rl;
  transform: translate(0, 0) rotate(0.5turn);
}

.form-group {
  margin-bottom: 30px;
}

.form-control {
  height: 87px;
  border: 1px solid transparent;
  padding: 33px;
  transition: border-color .2s ease;
  outline: 0 !important;
  box-shadow: none !important;

  &:hover, &:focus{
    border-color: #045DA0;
  }

  & + .dropdown-menu {
    width: calc(100% - 30px);
    box-shadow: 2px 3px 5px #ccc;
    border: 0;
  }

}

form {
  .btn-submit {
    background: #045DA0;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
    border-radius: 0;
    text-transform: uppercase;
    padding: 15px 50px;

    &:hover {
      color: #ffffff;
    }
  }

  .file-input {
    .input-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      .clip {
        height: 56px;
        width: 56px;
        background-color: #F8F8F8;
        border-radius: 50%;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        img {
          cursor: pointer;
          transition: .2s ease;
          width: 26px;
          height: 26px;
          margin-bottom: 0;
        }

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }

      input {
        position: absolute;
        top: 31px;
        right: 27px;
        opacity: 0;
        height: 56px;
        width: 56px;
        z-index: -1;
      }
    }
  }
}

textarea.form-control {
  height: 227px;
  resize: none;
}

.modal {
  .modal-dialog {
    max-width: 700px;
  }

  form {
    .form-control {
      height: 50px;
      margin: 10px 0;
      border: 1px solid #ced4da;
    }

    textarea.form-control {
      height: 100px;
    }
  }
}

.page-contacts, .section-career {
  .with-column__bg {
    width: calc((100% - 1320px) / 2 + 315px);
  }

  @media (max-width: 1399px) {
    .with-column__bg {
      width: calc((100% - 1320px) / 2 + 360px);
    }
  }
  @media (max-width: 1199px) and (min-width: 992px) {
    .with-column__bg {
      width: calc((100% - 1320px) / 2 + 485px);
    }
  }
  @media (max-width: 991px) {
    .with-column__bg {
      display: none;
    }
  }
}

.contact-person {
  color: #045DA0;
  margin-bottom: 100px;

  .avatar-wrapper {
    border-radius: 50%;
    overflow: hidden;
    height: 180px;
    width: 180px;
    background: #e2e4f3;

    img {
      width: 100%;
    }
  }

  .d-flex {
    margin-bottom: 10px;
  }

  h2 {
    font-weight: bold;
    font-size: 21px;
    line-height: 55px;
  }

  p {
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 32px;
  }

  a {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: inherit;
    margin-left: 22px;
  }
}

.section-career {

  .page-content {

    h3 {
      font-weight: bold;
      font-size: 23px;
      line-height: 27px;
      color: #045DA0;
      margin-bottom: 50px;
    }

    p {
      font-weight: normal;
      font-size: 17px;
      line-height: 26px;
      color: #869198;
      margin-bottom: 50px;
    }

    img {
      width: 100%;
      margin-bottom: 50px;
    }

    a {
      font-weight: bold;
      font-size: 14px;
      line-height: 27px;
      color: #0087CA;
    }

    .vacancy-item-wrapper {
      margin-bottom: 36px;
    }

    .vacancy-item {
      background: #ffffff;
      padding: 45px 41px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      p {
        margin-bottom: 20px;
      }

      h3 {
        margin-bottom: 55px;
      }
    }
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #495057;
  line-height: 1.5
}

.news-preview {
  max-width: 280px;
}

.post-paragraph {
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #7A8284;

  h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #045DA0;
    margin-bottom: 20px;
  }

}

.post-badge {
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #F23133;
}

.p-card {
  margin-bottom: 100px;

  &__image {

    margin-bottom: 21px;

    img {
      max-width: 100%;
    }

  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #045DA0;
    display: flex;
    flex-direction: column;
  }

}

.added-text-title {
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.vacancy-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 318px;
  background-blend-mode: multiply;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((100% - 1320px) / 2 + 1005px);
  margin-left: auto;

  &__title {
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12px;
  }

  &__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    max-width: 600px;
    margin: 0 auto 30px;
  }

}

.btn-white-bg {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  color: #045DA0;
  white-space: nowrap;
  padding: 0 20px;
}

.page-contacts {
 .page-content {
   #map {
     width: 100%;
     height: 300px;
     margin-top: -78px;
     margin-left: -30px;
   }

   .contacts {
     margin-top: 50px;
     margin-bottom: 67px;

     .svg-wrapper {
       height: 67px;
       flex: 0 0 67px;
       max-width: 67px;
       border-radius: 50%;
       background: #ffffff;
       margin-right: 30px;
       position: relative;

       img {
         position: absolute;
         height: 20px;
         width: 20px;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
       }
     }

     span {
       font-weight: 500;
       font-size: 13px;
       line-height: 23px;
       color: #C1C5CA;
     }

     a {
       white-space: nowrap;
     }

     a, p {
       display: block;
       font-weight: 500;
       font-size: 18px;
       line-height: 28px;
       color: #045DA0;
     }
   }
 }
}

.select2-container {
  width: 100% !important;

  .form-control {
    height: 87px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #045DA0;
    }

    .select2-selection__arrow{
      height: 100%;
      width: 60px;
    }

  }
}

.form-check{
  position: relative;
}
.form-check-label{
  transition: opacity .2s ease;
  padding-left: 26px;
  cursor: pointer;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #4B4C51;
  position: relative;
}
.form-check-input:hover + .form-check-label,
.form-check-label:hover {
  opacity: .7;
}
.form-check-input:not(:checked),
.form-check-input:checked {
  position: absolute;
  left: -9999px;
}
.form-check-input:not(:checked) + .form-check-label:before,
.form-check-input:checked + .form-check-label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 11px;
  height: 11px;
  background: #fff;
  border-radius: 50%;
  transition: .2s ease;
  border: 3px solid #1666A0;
}
.form-check-input:not(:checked) + .form-check-label:after,
.form-check-input:checked + .form-check-label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  transition: all .2s;
  width: 11px;
  height: 11px;
  background-color: #1666A0;
  border-radius: 50%;
}
.form-check-input:not(:checked) + .form-check-label:after {
  opacity: 0;
  transform: scale(0);
}
.form-check-input:checked + .form-check-label:after {
  opacity: 1;
  transform: scale(1);
}
.form-check-input:checked + .form-check-label:before {
  border: 1px solid #2eb349;
}
.form-check-input:checked + .form-check-label {
  color: #231f20;
}
.form-check.disabled:after{
  content: none;
}
.form-check.disabled{
  pointer-events: none;
}
.form-check.disabled .form-check-input:not(:checked) + .form-check-label:before,
.form-check.disabled .form-check-input:checked + .form-check-label:before{
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.form-check.disabled .form-check-input:checked + .form-check-label:after{
  color: #999;
}
.form-check.disabled .form-check-input + .form-check-label{
  color: #aaa;
}
.form-check.error .form-check-input:not(:checked) + .form-check-label:before,
.form-check.error .form-check-input:checked + .form-check-label:before{
  box-shadow: none;
  border-color: red;
}

.btn-blue-bg-arrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  background-color: #045DA0;
  line-height: 93px;
  white-space: nowrap;
  padding: 0 16px 0 44px;
  width: 100%;

  .icon {
    width: 56px;
    height: 56px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    img{
      margin-bottom: 0;
      width: 24px;
      height: 24px;
    }

  }

  &:hover {
    color: #fff;
  }

}
